/* Importando o arquivo CSS específico para o projeto */

@import url(styles/header.css);
@import url(styles/hero.css);
@import url(styles/metrics.css);
@import url(styles/banner.css);
@import url(styles/vagas.css);
@import url(styles/testimonial.css);
@import url(styles/footer.css);

/* Definindo variáveis de cores para o tema do site */
:root {
    --color-primary: #667085;
    --color-secundary: #8e2424;
    --color-secundary-rgba: rgba(142, 36, 36, 0.05);  /* Cor com 5% de opacidade */
    --color-title: #101828;
    --color-footer: #F9FAFB;
    --font-familiy: 'Inter', sans-serif;
}

/* Estilos globais para o corpo do documento */
body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


